@charset "utf-8";
/*---CSS Document---*/

@import url("css/reset.css");
@font-face {
font-family:Monotype Corsiva;
src: url("../font/MTCORSVA.TTF");
}

/*---Overall---*/

html {background-color:#000000; height:100%;}
body {
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#ffffff;
line-height:20px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

/*---Content---*/
.wrapper{
width:900px; margin:0 auto; min-height:100%;
}

.title_1{
font-family: "monotype Corsiva", "times New Roman", serif;
font-style:italic;
font-size:23px;
color:#fbeb8c;
line-height:25px;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

.title_2{
font-family: monotype corsiva;
font-style:italic;
font-size:35px;
line-height:10px;
color:#fbeb8c;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

.product_1{
float:left; 
width:300px;
vertical-align:top;
padding:5px 0px 0px 0px;
}

/*IE7*/
*+html
.product_1{
float:left; 
width:300px;
vertical-align:top;
padding:20px 0px 0px 0px;
}

.product_2{
float:right; 
width:500px; 
padding:30px 100px 0px 0px;
}

/*IE7*/
*+html
.product_2{
float:right; 
width:500px; 
padding:50px 100px 0px 0px;
}

.product_img{
padding:20px 0px 0px 0px;
}

/*IE7*/
*+html
.product_img{
padding:50px 0px 0px 0px;
}

.services_1{
float:left; 
width:370px;
vertical-align:top;
padding:5px 0px 0px 0px;
}

.services_2{
float:right; 
width:480px; 
padding:30px 50px 0px 0px;
}

.services_3{
float:left; 
width:300px;
vertical-align:top;
padding:5px 0px 0px 0px;
}

.services_4{
float:right; 
width:580px; 
padding:30px 0px 0px 20px;
}



/*---Navigation Menu---*/

/*---Home Menu---*/
#maincurrent{
text-decoration:none;
background-image:url(../images/active_lite.png);
width:109px;
height:50px;
background-position:center;
display:block;
font-size:13.5px;
}

/* IE7 */
*+html
#maincurrent{
text-decoration:none;
background-image:url(../images/active_lite.png);
width:109px;
height:50px;
background-position:center;
display:block;
font-size:14px;
}

.mainmenu{
/*background-image:url(../images/nav_bar_lite.png);
background-repeat:no-repeat;*/
border:none;
margin:0px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
height:50px;
width:550px;
float:right;
padding-bottom:2px;
}

	.mainmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	}
		.mainmenu li{
		float:right;
		width:110px;
		height:50px;
		text-align:center;
		}
		.mainmenu li a{
		background:url(../images/nav_button_lite.png) no-repeat;
		font-weight:normal;
		margin:auto;
		width:110px;
		height:50px;
		text-decoration:none;
		line-height:70px;
		font-size:13px;
		color:#fbeb8c;
		font-smooth:always;
		-webkit-font-smoothing: antialiased;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		display:block;
		}
	
		.mainmenu li a:hover, .mainmenu ul li:hover a{
		width:110px;
		height:50px;
		text-decoration:none;
		background-image:url(../images/hover_lite.png);
		display:block;
		}
		
			.mainmenu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			width:150px;
			height:80px;
			z-index:200;
			background-color:#000000;
			opacity:0.8;
			/*top:1em;
			/*left:0;*/
			}
		
			/* IE7 */
			*+html
			.mainmenu li ul{
			display:none;
			padding:0px 0px 0px 0px;
			height:auto;
			margin:0px;
			border:0px;
			position:relative;
			width:150px;
			height:80px;
			z-index:200;
			background-color:#000000;
			opacity:0.8;
			/*top:1em;
			/*left:0;*/
			}
	
			.mainmenu li:hover ul{
			display:block;
			
			}
			
				.mainmenu li li {
				display:block;
				float:none;
				margin:0px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				padding:0px 0px 0px 25px;
				}
		
				/* IE7 */
				*+html
				.mainmenu li li {
				display:block;
				float:none;
				margin:0px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				padding:0px 0px 0px 10px;
				}

				.mainmenu li:hover li a{
				background:none;
				}
		
				/* IE7 */
				*+html
				.mainmenu li:hover li a{
				background:none;
				display:block;
				float:none;
				margin:0px;
				padding:20px 25px 0px 0px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				line-height:30px;
				}	
	
					.mainmenu li ul a{
					display:block;
					font-size:13px;
					font-style:normal;
					margin:0px;
					}
					
					.mainmenu li ul a:hover, .mainmenu li ul li:hover a{
					border:0px;
					color:#ffffff;
					text-decoration:none;
					}
					
.mainmenu p{
clear:left;
}

/*---Subpage Menu---*/
#subcurrent{
text-decoration:none;
background-image:url(../images/active.png);
width:109px;
height:90px;
background-position:center;
display:block;
font-size:13.5px;
}

/* IE7 */
*+html
#subcurrent{
text-decoration:none;
background-image:url(../images/active.png);
width:109px;
height:90px;
background-position:center;
display:block;
font-size:14px;
}

.submenu{
/*background-image:url(../images/nav_bar.png);
background-repeat:no-repeat;*/
border:none;
margin:0px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
height:90px;
width:550px;
float:right;
padding-bottom:2px;
}
	
	.submenu ul{
	list-style:none;
	margin:0;
	padding:0;
	}
	
		.submenu li{
		float:right;
		width:110px;
		height:90px;
		text-align:center;
		}
		
		.submenu li a{
		background:url(../images/nav_button.png) no-repeat;
		display:block;
		font-weight:normal;
		margin:auto;
		width:110px;
		height:90px;
		text-decoration:none;
		line-height:140px;
		font-size:13px;
		color:#fbeb8c;
		-webkit-font-smoothing: subpixel-antialiased;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		}
		
		.submenu li a:hover, .submenu ul li:hover a{
		width:110px;
		height:90px;
		text-decoration:none;
		background-image:url(../images/hover.png);
		display:block;
		}
		
			.submenu li ul{
			display:none;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			width:150px;
			height:80px;
			z-index:200;
			background-color:#000000;
			opacity:0.8;
			/*left:0;*/
			}
		
			/* IE7 */
			*+html
			.submenu li ul{
			display:none;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:relative;
			width:150px;
			height:80px;
			z-index:200;
			background-color:#000000;
			opacity:0.8;
			/*left:0;*/
			}
	
			.submenu li:hover ul{
			display:block;
			}
	
				.submenu li li {
				display:block;
				float:none;
				margin:0px;
				padding-left:25px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				}
		
				/* IE7 */
				*+html
				.submenu li li {
				display:block;
				float:none;
				margin:0px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				padding:0px 0px 0px 10px
				}
		
				.submenu li:hover li a{
					background:none;
					}
	
				/* IE7 */
				*+html
				.submenu li:hover li a{
				background:none;
				display:block;
				float:none;
				margin:0px;
				padding:20px 25px 0px 0px;
				width:110px;
				height:25px;
				color:#fbeb8c;
				text-align:left;
				line-height:30px;
				}		
	
					.submenu li ul a{
					display:block;
					font-size:13px;
					font-style:normal;
					margin:0px;
					line-height:70px;
					}
					
					.submenu li ul a:hover, .submenu li ul li:hover a{
					border:0px;
					color:#000000;
					text-decoration:none;
					}
					
.submenu p{
clear:left;
}

/*---Footer---*/
	
#footer_menu{
color:#fbeb8c;
padding-top:20px;
float:left;
height:70px;
width:500px;
}
	
	#footer_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position:relative;
	z-index:90;
	}
	
		#footer_menu ul li {
		float:left;
		display:inline-block;
		padding:0px 0px 0px 10px;
		font-size:12px;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		}
	
		/* IE7 */
		*+html
		#footer_menu ul li {
		float:left;
		padding:0px 0px 0px 10px;
		font-size:12px;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		text-align:center;
		}
	
		/*FF*/
		#footer_menu ul li 
		,  x:-moz-any-link {
		float:left;
		padding:0px 0px 0px 10px;
		font-size:12px;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		text-align:center;
		}
	
		#footer_menu ul li a{
		color:#fbeb8c;
		text-decoration:none;
		}
	
		#footer_menu ul li a:hover{
		color:#ffffff;
		text-decoration:none;
		}	
		
			#footer_menu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			z-index:200;
			}
	
			/*IE 7*/
			*+html
			#footer_menu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:relative;
			z-index:200;
			}
	
			/*FF*/
			#footer_menu li ul
			,  x:-moz-any-link {
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:relative;
			z-index:200;
			}
	
			#footer_menu li:hover ul{
				display:block;
			}
	
			/*IE7*/
			#footer_menu li:hover ul{
			display:block;
			}
	
				#footer_menu li li {
				margin:0px;
				padding:10px 0px 0px 0px;
				color:#fbeb8c;
				}
		
				/* IE7 */
				*+html
				#footer_menu li li {
				margin:0px;
				padding:10px 0px 0px 5px;
				color:#fbeb8c;
				text-align:center;
				}
		
				/*FF*/
				#footer_menu li li
				,  x:-moz-any-link {
				margin:0px;
				padding:10px 0px 0px 5px;
				color:#fbeb8c;
				text-align:center;
				}
		
				#footer_menu li:hover li a{
				background:none;
				margin:0px;
				}	
	
					#footer_menu li ul a{
					float:left;
					margin:0px;
					}
		
					/*IE7*/
					*+html
					#footer_menu li ul a{
					float:left;
					margin:0px;
					}
		
						#footer_menu li ul a:hover, .mainmenu li ul li:hover a{
						border:0px;
						color:#ffffff;
						text-decoration:none;
						}
	
.copyright{
color:#fbeb8c;
float:right;
text-align:right;
font-size:12px;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

/*IE7*/
*+html
.copyright{
color:#fbeb8c;
float:right;
text-align:right;
font-size:12px;
text-shadow:0 1px 1px rgba(0,0,0,.8);
padding:10px 0px 0px 0px;
}

/* Submit Button */
.submit {
  width: 111px;
  height: 39px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_submit.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.submit:hover  {
  width: 111px;
  height: 39px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url('../images/btn_submit_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

/* Social Icon */
.social_1 { 
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_icon.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
}

.social_1:hover { 
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_icon_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.social_2 { 
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter_icon.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
}

.social_2:hover { 
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter_icon_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}



	